# Built binaries
go-test-as-library-wrapper

# Example build artifacts
test/example*/*.o
test/example*/go-test-as-library-wrapper
test/example*/test-static.a
test/example*/test-static.h
test/example**/test-dynamic.so
test/example*/test-dynamic.h
test/example*/ctest-static
test/example*/ctest-dynamic
test/example*/*.log
test/example*/test
