# Built binaries
go-test-as-library-wrapper

# Example build artifacts
example/c-harness/*.o
example/go-test-as-library-wrapper
example/test-static.a
example/test-static.h
example/test-dynamic.so
example/test-dynamic.h
example/ctest-static
example/ctest-dynamic
example/*.log
example/test
